/* - - - GLOBAL CSS STYLESHEET - - - */

/* - - NavBar - - */

/* - - Site Wide - - */
body, html {
    background-color: #34495e;
}

/* - - Home Section - - */
#home {
    background-color: #34495e;
    display: block;
    width: 100%;
    padding-top: 50px;
}
.home.profile-image {
	width: 200px;
	height: 200px;
	background: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 200px;
    border: 2px solid #efefef;
    display: block;
    
    margin-left: auto;
    margin-right: auto;
}
.home.container {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.home.title.container {
    text-align: center;
    color: #fff;
    font-size: 35px;
    font-weight: 350;
    padding-top: 15px;
}
.home.intro.container {
    text-align: center;
    color: #fff;
    font-size: 17px;
    font-weight: 350;
}
.home-header{
    color: #fff;
    text-align: center;
    font-weight: 300;
    padding-bottom: 5px;
}
.home-content {
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    padding-bottom: 10px;
}
#toggleGradesButton {
    text-align: center;
    margin-bottom: 9px;
}
#grades-table {
    color: #fff;
    font-weight: 300;
    font-size: 16px;
}
.hide {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}
a.home-link, a.home-link:visited, a.home-link:hover, a.home-link:active {
    color: inherit;
    color: #b5e6ff;
}
.uog-logo {
    width: 200px;
    display: block;
    margin: auto;
    margin-bottom: 15px;
}
.hobbies {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.hobbies-images {
    text-align: center;
    display: inline;
    postition: absolute;
    margin: auto;
    margin-bottom: 15px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.hobbies-images:hover {
    height: 65px;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
.goodreads {
    height: 40px;
}
.strava {
    height: 45px;
}
.meetup {
    height: 40px;
}

/* - - Contact Section - - */
#contact {
    background-color: #34495e;
    display: block;
    width: 100%;
    color: #fff;
}
.contact.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.contact.title.container {
    text-align: center;
    color: #fff;
    font-size: 35px;
    font-weight: 350;
    padding-top: 15px;
    margin-bottom: 30px;
}
.contact.content.container {
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-size: 17px;
    padding-bottom: 25px;
}
a.contact-link, a.contact-link:visited, a.contact-link:active {
    font-size: 50px;
    color: inherit;
    color: #fff;
    padding: 10px;
}
a.contact-link:hover {
    font-size: 50px;
    color: inherit;
    color: #b5e6ff;
}

/* - - Experience Section - - */
#experience {
    background-color: #efefef;
    display: block;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}
.experience.container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.experience.title.container {
    text-align: center;
    color: #36454F;
    font-size: 35px;
    font-weight: 350;
    padding-top: 15px;
    margin-bottom: 30px;
}
.experience.content.container {
    color: #36454F;
    text-align: center;
    font-weight: 300;
    font-size: 17px;
    padding-bottom: 25px;
}

.pippi-image {
    text-align: center;
    max-width: 400px;
    border-radius: 25px;
    padding: 20px;
}
/* - - Projects Section - - */
#projects {
    background-color: #34495e;
    display: block;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}
.projects.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.projects.title.container {
    text-align: center;
    color: #fff;
    font-size: 35px;
    font-weight: 350;
    padding-top: 15px;
    margin-bottom: 30px;
}
.projects.content.container {
    color: #fff;
    font-weight: 300;
    font-size: 17px;
    padding-bottom: 25px;
}
.project-header {
    color: #fff;
    font-size: 27px;
}
.project-image-dark {
    opacity: 0.8;
}
a.product-link, a.product-link:visited, a.product-link:active {
    font-size: 50px;
    color: inherit;
    color: #fff;
    padding-right: 5px;
}
a.product-link:hover {
    font-size: 50px;
    color: inherit;
    color: #b5e6ff;
}

/* - - Experience Section - - */
#gh-activity {
    background-color: #efefef;
    display: block;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}
.gh-activity.container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.gh-activity.title.container {
    text-align: center;
    color: #36454F;
    font-size: 35px;
    font-weight: 350;
    padding-top: 15px;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
	.pippi-image {
        width: 100%;
    }
}